<% include partials/header %>
<div class="ui main text container">
  <div class="ui raised container segment">
    <img class="ui fluid rounded image" src="<%= blog.image %>">
    <h4 class="ui header"><%= blog.title %></h4>
    <p><%= blog.body %></p>
    <a class="ui green button" href="/blogs/<%= blog._id %>/edit">Edit Blog Post</a>
    <form id="formDel" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
      <button class="negative ui button">Delete</button>
    </form>
  </div>
</div>



<% include partials/footer %>
